<section id="privacy">
  <div class="container hide">
    <div class="row">
      <p class="col-12">
        Ao usar o Keepo, você concorda com os nossos
        <a href="https://editor.keepo.io/#/legal">Termos e Privacidade</a
        ><button class="btn btn-agree" onclick="agree(); return false;">
          Concordo
        </button>
      </p>
    </div>
  </div>
</section>
