<meta
  http-equiv="Cache-Control"
  content="no-cache, no-store, must-revalidate"
/>
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<meta charset="utf-8" />
<link rel="icon" href="/assets/img/ico/favicon.ico" />
<title><%- title%></title>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta name="title" content="keepo.io - Keepo - Mobile Site" />
<meta name="description" content="Seu incrível site mobile" />
<meta property="og:title" content="keepo.io - Keepo - Mobile Site" />
<meta property="og:description" content="Seu incrível site mobile" />
<meta
  name="facebook-domain-verification"
  content="cbn2cqle4vloykex071kl7oxaazpyc"
/>

<meta property="og:site_name" content="home-keepo" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://keepo.io/" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/assets/img/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="/assets/img/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/assets/img/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/assets/img/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/assets/img/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/assets/img/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/assets/img/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/assets/img/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/img/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/assets/img/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/img/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/img/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/img/favicon-16x16.png"
/>

<link
  href="/assets/css/bootstrap.min.css"
  rel="stylesheet"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/assets/css/all.css" crossorigin="anonymous" />
<link rel="stylesheet" href="/assets/css/jquery.simplyscroll.css" />
<link rel="stylesheet" href="/assets/css/style.css" />

<!-- Google Tag Manager -->
<script>
  /*(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KN68QZ9');*/
</script>

<script src="/assets/js/jquery.min.js"></script>
<script
  src="/assets/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"
></script>
