<div class="section aviso-footer">
  <p>
    <b
      >CNPJ: 123.456.789/0001-58</b>
    / contato@site.com.br
    <p>2022 - Todos os Direitos Reservados</p>
    
  </p>
</div>
<script>
  <%- include('../assets/output/js/load'); %>
</script>
