<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Parabéns</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta http-equiv="expires" content="Sun, 01 Jan 2014 00:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="noindex" />

    <link rel="icon" href="./assets/images/shield.svg" />
    <meta
      name="description"
      content="Todos os descontos da Agência de Bolso reunidos em uma única página para você!"
    />
    <meta
      name="keywords"
      content="marketing, comunidade, profissionais de marketing, aquela, caixa, aquela caixa, marketing, publicidade"
    />
    <link rel="canonical" href="https://black.agenciadebolso.com/" />

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="Agência de Bolso - Desconto em todos os produtos!"
    />
    <meta
      property="og:description"
      content="Confira todas as promoções de Black Friday dos produtos da Agência de Bolso!"
    />
    <meta property="og:site_name" content="Agência de Bolso" />
    <meta property="og:url" content="https://black.agenciadebolso.com/" />
    <meta property="og:image" content="./assets/images/shield.svg" />
    <meta property="og:image:secure_url" content="./assets/images/shield.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <style>
      <%- include('../assets/output/css/css'); %>
    </style>
  </head>
</html>
