<!-- <div id="gpc-lgpd" class="gpc-lgpd-cor_ffffff botao posicionado">
      <div id="gpc-lgpd_texto">
        Usamos cookies para personalizar conteúdos e melhorar a sua experiência.
      </div>
      <div id="gpc-lgpd_botoes">
        <div id="gpc-lgpd_botoes-confirmar" class="gpc-lgpd_botoes-botao">
          Ok, entendi
        </div>
      </div>
    </div>-->
