<%- include('components/header'); %>
<div id="confettis" class="none">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
</div>

<body class="">

    <div id="site" class="auto-center">
        <div class="centralizar mt-6 ">
            <div class="mt-3">
                <img class="lazy load " height="120px" width="120px"
                src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                data-src="./assets/images/shield.svg" alt="Alternative text to describe image.">
            </div>
            <h1><span class="load titulo">Tudo certo!</span></h1>
            <p>
                <span class="sub-texto load">Clique no botão abaixo para entrar na página
                    solicitada!</span>
            </p>

            <div class="btn load">
                <a href="#" id="redirect">Continuar</a>
            </div>
        </div>

    </div>
    </div>
    <%- include('components/footer'); %>
    <script>
        <%-include('assets/output/js/index'); %>
    </script>
</body>

</html>