:root {
  --white: #ffffff;
  --cta-color: #000;
  --logo-color: 138deg;
  --red: #db0303
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0px;
}
.message,
.logo,
.titulo,
.fade-in {
  /*-webkit-filter: hue-rotate(var(--logo-colord));
  filter: hue-rotate(var(--logo-color));*/
}

b {
  display: contents;
}
strong {
  margin-left: 5px;
}

.gradient {
  min-height: 105vh;
  background-color: var(--white);
  /*background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);*/
}

@keyframes se_key {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}

@-webkit-keyframes se_key {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}

#site {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.lazy {
}

.m5 {
  margin: 5px;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-6 {
  margin-top: 6em;
}

.text-load,
.load strong,
.load input,
.load input::placeholder,
.load b,
.monitoring p,
.btn,
.message,
.load a {
  content: "" !important;
  color: transparent !important;
  border: none !important;
  text-shadow: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

.monitoring p{
  color: #2c2c2c !important;
}

.load {
  border-radius: 20px;
  content: "" !important;
  color: transparent !important;
  background: rgba(128, 128, 128, 0.05);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 100%
  ) !important;
  background-repeat: no-repeat;
  background-size: 1200px 1200px;
  animation: 1s linear infinite forwards se_key;
  -webkit-animation: 1s linear infinite forwards se_key;
  -o-animation: 1s linear infinite forwards se_key;
  text-shadow: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border-color: rgba(255, 255, 255, 0) !important;
 
}

.load-rouded {
  border-radius: 50em;
}

.vp-title-header {
  display: none;
}

.sub-texto {
  line-height: 22.1px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: none;
  color: #2c2c2c;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.sub-texto-produto {
  line-height: 22.1px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: none;
  color: rgb(223, 223, 223);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.titulo {
  font-size: 31px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0px;
  text-shadow: none;
  color: rgb(44, 44, 44);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

#site {
  text-align: center;
  display: grid;

  margin-left: auto;
  margin-right: auto;
}

.shadow {
  -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.15);
}

.titulo b {
  border-bottom: 2px solid #dbdbdb;
  display: unset;
  line-height: 40px;
}

.titulo strong{
  color: var(--red);
}
.red{
  color: var(--red)  !important;
}
span.message {
  background-color: #537895 !important;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%) !important;
  display: block;
  color: #fff !important;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

span#city {
  color: #f5a702;
  font-weight: 700;
}

span.titulo {
  display: block;
}

.border-red {
  border-radius: 6px;
  padding: 10px;
  text-shadow: 1px 1px 2px black;
  color: #fff;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.border {
  display: flex;
  border-radius: 5px;
  -webkit-transform: rotate(358deg);
  -moz-transform: rotate(358deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

.font26 {
  font-size: 26px !important;
}

.font15 {
  font-size: 15px !important;
}

.video {
  position: relative;
  width: 100%;
  max-width: 980px;
}

.sem-som {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: rgba(128, 128, 128, 0.8);
}

.btn {
  color: #25d366 !important;
  background-image: linear-gradient(45deg, #20bf55, #027215) !important;

  border-radius: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 3px 3px 7px rgb(0 0 0 / 18%) !important;
}

.btn a {
  padding: 15px 30px !important;
  color: #fff;
  text-decoration: none;
  display: block;
}

.auto-center {
  min-height: 100vh;
  display: grid;
}

.plyr {
  border-radius: 8px !important;
}

.plyr__controls {
  display: none !important;
}

.plyr--video {
  background: #fff !important;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.12);

  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.plyr__video-wrapper {
  background: rgba(128, 128, 128, 0.05) !important;
}

.plyr__poster {
  background-color: rgba(128, 128, 128, 0.05) !important;
}

.no-sound {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  z-index: 999;
  border-radius: 10px;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  border: 2px solid #fff;
  width: 25vw;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 0.5em;
  min-width: 230px;
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sound-big svg {
  width: 50%;
  height: 20%;
}

.block {
  display: block;
}

@-webkit-keyframes BLINK {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes BLINK {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.blink_1 {
  -webkit-animation: BLINK 2s infinite;
  animation: BLINK 2s infinite;
  opacity: 0;
}

.blink_2 {
  -webkit-animation: BLINK 2s infinite 0.3s;
  animation: BLINK 2s infinite 0.3s;
  opacity: 0;
}

.blink_3 {
  -webkit-animation: BLINK 2s infinite 0.6s;
  animation: BLINK 2s infinite 0.6s;
  opacity: 0;
}

.smartplay-svg-color {
  fill: #ffffff !important;
}

.adjustable {
  border: 4px solid red;
}

.none {
  display: none;
}

.plyr__control {
  display: none !important;
}

.wrapper {
  width: 500px;
}

.progress-bar {
 
  width: 100%;
  background-color: #e0e0e0;
  bottom: -7px;
  height: 25px;
  /* padding: 3px; */
border-radius: 50em;
color: #fff;
}
.progress-bar-bottom {
  position: initial !important;
  border-radius: 0px;
}

.progress-bar-fill {
  display: block;
  height: 25px;
  background-color: #20bf55;
  border-radius: 50em;
  transition: width 1000ms ease-in-out;
}

#confettis {
  z-index: -9999;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.confetti {
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50em;
  position: absolute;
  transform-origin: left top;
  animation: confetti 5s ease-in-out -2s infinite;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }

  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }

  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }

  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }

  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.confetti:nth-child(1) {
  left: 10%;
  animation-delay: 0;
  background-color: #fc0120;
}

.confetti:nth-child(2) {
  left: 20%;
  animation-delay: -5s;
  background-color: #8257e6;
}

.confetti:nth-child(3) {
  left: 30%;
  animation-delay: -3s;
  background-color: #ffbf4d;
}

.confetti:nth-child(4) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #fe5d7a;
}

.confetti:nth-child(5) {
  left: 50%;
  animation-delay: -4s;
  background-color: #45ec9c;
}

.confetti:nth-child(6) {
  left: 60%;
  animation-delay: -6s;
  background-color: #f6e327;
}

.confetti:nth-child(7) {
  left: 70%;
  animation-delay: -1.5s;
  background-color: #f769ce;
}

.confetti:nth-child(8) {
  left: 80%;
  animation-delay: -2s;
  background-color: #007de7;
}

.confetti:nth-child(9) {
  left: 90%;
  animation-delay: -3.5s;
  background-color: #63b4fc;
}

.confetti:nth-child(10) {
  left: 100%;
  animation-delay: -2.5s;
  background-color: #f9c4ea;
}

.fb-comments-section {
  z-index: -999;
  /*background-color: #f7f7f7;*/
  padding: 10px 15px 10px 10px;
  margin-top: 5px;
  border-radius: 16px;
}
.fb-comments-section h3{
  color: #3b5998;
}

.fb-comments {
  position: relative;
  margin-top: 10px;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.line {
  z-index: -10;
  background: #f0f2f5;
  width: 2px;
  height: 100%;

  left: 27px;
  position: absolute;
}

.line-curved-line {
  z-index: -10;
  background: #f0f2f5;
  width: 2px;
  height: 100%;

  left: -31px;
  position: absolute;
}

.line-curved {
  z-index: 99;
  height: 33px;
  width: 25px;
  top: -10px;
  background: 0 0;
  left: -31px;
  border-bottom-left-radius: 14px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: #f0f2f5;
  position: absolute;
}

.user {
  z-index: 10;
}

.user img {
  z-index: 999;
  float: left;
  margin-right: 6px;
  background: #d8dce6;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  width: 48px;
  height: 48px;
  border-radius: 50em;
  border: 4px solid #fff;
}

#response div.user > img {
  width: 36px;
  height: 36px;
}

#response {
  margin-left: 58px;
}

.comment_name {
  font-size: 15px;
  line-height: 17px;
  padding: 0 0 4px;
color: #3b5998;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.comment_text {
  padding: 0 0 4px;
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  display: flex;
}

.reaction {
  background: #fff;
  position: absolute;
  font-size: 12px;
  color: #7c7c7c;
  border-radius: 50em;
  right: -2px;
  bottom: -10px;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 3px;
  padding: 2px 4px 3px 3px;
  line-height: 15px;
}

.reaction img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}

.reaction img:nth-child(2),
.reaction img:nth-child(3),
.reaction img:nth-child(4) {
  margin-left: -8px;
}

.comments {
  background-color: #ebedf0;
  border-radius: 18px;
  position: relative;
  line-height: 16px;
  margin-top: 0;
  min-width: 0;

  padding: 6px 12px 7px 12px;
  display: grid;
}

.comments_opt {
  margin-top: 5px;
  color: #3B5998;
  display: flex;

  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

.comments_ {
  display: grid;
}

span.typing {
  font-family: Segoe UI Historic,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 15px;
  background: #ebedf0;
  border-radius: 10px;
  padding: 9px 15px 11px 11px;

  margin-bottom: 10px;
  display: inline-block;
}

span.typing:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgb(0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgb(0, 0, 0);}}

span.time,
span.time_,
span.curtir,
span.responder {
  color: #3B5998;
  font-size: 12px;
  line-height: 16px;
  padding: 0 0 6px 6px;
  position: relative;
}
.fb-buttom{
  display: block;
    cursor: pointer;
    padding: 12px;
    background-color: #4C69BA !important;
    background-image: linear-gradient(#4C69BA,#3B55A0) !important;
    text-shadow: 0 -1px 0 #354c8c !important;
    color: #fff !important;
    font-family: Segoe UI Historic,Segoe UI,Helvetica,Arial,sans-serif;
    border-radius: 10px;
}
img.fb-image {
  width: 100%;
  border-radius: 18px;
  margin-top: 7px;
  border: 1px solid #ebedf0;
}

.pulsate {
  -webkit-animation: pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0;

  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fake-video {
  overflow: hidden;
}
.image-wrapper {
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.image-wrapper .image {
  margin: -10px;
  filter: blur(5px);
}
.sound-warning {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;
}
.aviso-footer {
  font-size: 12px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  position: fixed;
  border: 0px;
  bottom: 0;
  z-index: 9999;
  background: #0019cd;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulse-button {
  position: relative;

  border: none;
  box-shadow: 0 0 0 0 rgba(0, 139, 74, 0.7);
  border-radius: 50%;
  background-color: #106904;
 
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.btn-purple {
  text-transform: uppercase;
  background: #25d366;
  color: #fff !important;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 40px;
  min-width: 80%;
}

.btn-purple:hover {
  background: #20bf55;
  color: #fff;
}
.btn{
  cursor: pointer;
}


#formulario input[type="text"],
#formulario input[type="email"] {
  display: block;
  width: 80%;
  border-radius: 8px;
  height: 48px;
  font-size: 17px;
  /* width: 100%; */
  border: #dfdfdf solid 1px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}

#formulario input[type="submit"] {
  /* Create the gradient. */
  background: #25d366;
  background: linear-gradient(45deg, #20bf55, #01baef);

  /*height: 48px;*/
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  border-radius: 40px;
  border: none;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

#formulario input[type="submit"]:hover {
  background: #20bf55;
}


.code_sec {
  margin: 20px 0 30px 0;
}

.btn_code .clipboardtext {
  height: 40px;
  display: block;
  border: 1px solid #2587ff;
  padding: 0px 15px;
  font-size: 16px;
  color: #2587ff !important;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn_code .copy_btn {
  background-color: #2587ff;
  border: 0px;
  height: 42px;
  font-size: 15px;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.thank-you-div .content-box, .checkout-cont .content-box {
  padding: 40px 20px 20px 20px;
  font-size: 14px;
  border-radius: 25px;
}

.content-box {
  background: #fff;
  background-clip: padding-box;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  color: #545454;
}

h2, .heading-2 {
  font-family: 'Poppins',sans-serif;
  font-size: 1.28571em;
  line-height: 1.3em;
}

ul.print_pay {
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  color: #000;
}
ul.print_pay li {
  font-weight: normal;
  font-size: 1rem;
  line-height: 40px;
  color: #000000;
  text-align: left;
}

ul.print_pay a {
  text-decoration: none;
  color: #000;
  padding-left: 35px;
  position: relative;
  display: block;
  margin: 15px 0px;
  font-size: 14px;
  line-height: 1.4;
}
ul.print_pay li a span img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}
ul.print_pay li a span {
  width: 23px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  height: 23px;
  position: absolute;
  left: 0;
}