<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include ("./partials/head", {title:"your_title"}) -%>
  </head>
  <body>
    <%- include ("./partials/header", {menu : false}) -%>

    <section id="section-01">
      <div class="container">
        <div
          id="section-01-content"
          class="
            col-xxl-6
            offset-xxl-3
            col-xl-8
            offset-xl-2
            col-md-8
            offset-md-2
            col-12
          "
        >
          <h6>Minisite do seu tipo</h6>
          <h1>Seu link na bio nunca mais será o mesmo</h1>
          <p>
            Conheça o minisite que vai<br />
            elevar o nível do seu conteúdo
          </p>
          <p>
            <a
              href="https://editor.keepo.io/#/?action=start"
              class="btn btn-purple"
              >Crie o seu minisite grátis</a
            >
          </p>
        </div>
      </div>
    </section>

    <section id="home-phones" class="container d-block d-md-none">
      <div class="row">
        <p class="col-12">
          <img
            src="/assets/img/bg_phones_mobile.png"
            srcset="
              /assets/img/bg_phones_mobile%402x.png 2x,
              /assets/img/bg_phones_mobile%403x.png 3x
            "
            alt="Keepo"
          />
        </p>
      </div>
    </section>

    <section id="section-02" class="container">
      <div class="row">
        <p class="col-12">
          Mostre quem você é, o que você faz, o que você vende.<br />
          <span
            >Faça um Keepo do seu tipo com imagens, vídeos e links<br />
            relevantes para o seu público.</span
          >
        </p>
      </div>
    </section>
    <section id="section-about" class="container">
      <div class="row section-about-01">
        <div class="col-md-6 col-12">
          <h6>Crie em poucos minutos</h6>
          <h3>Você clica pouco, <br />seu público clica muito.</h3>
          <p>
            Tudo no Keepo é fácil de usar para que você possa <br />focar em
            conteúdo e vendas.
          </p>
        </div>
        <p class="col-md-6 col-12">
          <img
            src="/assets/img/about_image.png"
            alt
            style="width: 424px; max-width: 100%"
          />
        </p>
      </div>
      <div class="row section-about-02">
        <p class="col-md-6 col-12">
          <img
            src="/assets/img/about_image_02.png"
            alt
            style="width: 413px; max-width: 100%"
          />
        </p>
        <div class="col-md-6 col-12 section-about-01">
          <h6>Cresça com o Keepo <span class="badge-plus">PLUS</span></h6>
          <h3>Minisite com números <br />de gente grande</h3>
          <p>
            Acompanhe o crescimento das suas conversões, <br />visualize seus
            analytics e faça integrações com <br />outros sites e apps.
          </p>
        </div>
      </div>
      <div class="row section-about-03">
        <div class="col-md-6 col-12">
          <h6>Impossível não se apaixonar</h6>
          <h3>Design sedutor e <br />conteúdo encantador</h3>
          <p>
            O seu Keepo já nasce com um visual profissional <br />e engrandece o
            seu perfil, loja ou portfolio.
          </p>
        </div>
        <p class="col-md-6 col-12">
          <img
            src="/assets/img/about_image_03.png"
            alt
            style="width: 509px; max-width: 100%"
          />
        </p>
      </div>
    </section>

    <section id="plans">
      <div class="container">
        <div class="row">
          <h3 class="col-12 text-center d-none d-md-block">
            Conheça nossos planos
          </h3>
          <h3 class="col-12 text-center d-block d-md-none">Nossos planos</h3>
          <p class="plans-subtitle text-center">
            Comece grátis ou creça para o Plus.
          </p>
          <p class="text-center btn-plans-box">
            <button
              class="btn btn-plan btn-plan-selected"
              onclick="change_plan(this,'yearly'); return false;"
            >
              Anual <span>37% OFF</span>
            </button>
            <button
              class="btn btn-plan btn-plan-monthly"
              onclick="change_plan(this,'monthly'); return false;"
            >
              Mensal
            </button>
          </p>
        </div>
        <div class="row plans-period plans-yearly">
          <div
            class="col-lg-6 offset-lg-0 col-sm-10 offset-sm-1 plan-plus"
            id="plus"
          >
            <p class="badge-plus-offer d-none d-md-block">
              VALOR DE LANÇAMENTO
            </p>
            <p class="badge-plus-offer d-block d-md-none">
              VALOR DE LANÇAMENTO
            </p>
            <h5 class="text-center">Keepo <b>Plus</b></h5>
            <h2 class="text-center">R$9,90</h2>
            <p class="text-center">por mês no plano Anual</p>
            <p class="text-center">
              <a
                href="https://editor.keepo.io/#/?action=plus&plan=ANNUALLY"
                class="btn btn-create-plus-account"
                >Assine PLUS</a
              >
            </p>
            <ul>
              <li>Customização de cores e alinhamento</li>
              <li>Seção Boas-vindas com CTA</li>
              <li>Seção Apresentação com imagem e textos</li>
              <li>Seção Catálogo com ítens ilimitados</li>
              <li>Seção Links com miniatura e emoji</li>
              <li>Seção Ícones com +10 redes sociais</li>
              <li>
                Seção Formulário integrado com Email, Mailchimp e Google Sheets
              </li>
              <li>Facebook Pixel, Google Analytics e Tag Maneger</li>
              <li>Múltiplas seções</li>
              <li>Dados sobre acessos, visualizações e cliques</li>
              <li>Vídeos do Youtube, Vimeo e Twitch</li>
              <li>Áudios do Spotify, Apple Music e Deezer</li>
              <li>Imagens avulsas</li>
              <li>Suporte Exclusivo</li>
            </ul>
          </div>
          <div class="col-lg-6 offset-lg-0 col-sm-10 offset-sm-1 plan-free">
            <h5 class="text-center">Keepo <b>Grátis</b></h5>
            <h2 class="text-center">R$0</h2>
            <p class="text-center">pra sempre</p>
            <p class="text-center">
              <a
                href="https://editor.keepo.io/#/?action=start"
                class="btn btn-create-free-account"
                >Crie grátis</a
              >
            </p>
            <ul>
              <li>10 combinações de cores para escolher</li>
              <li>Seção Boas-vindas com CTA</li>
              <li>Seção Apresentação com imagem e textos</li>
              <li>Seção Catálogo com ítens ilimitados</li>
              <li>Seçõa Links com miniatura e emoji</li>
              <li>Seção Ícones com +10 redes sociais</li>
            </ul>
          </div>
        </div>
        <div class="row plans-period plans-monthly" style="display: none">
          <div class="col-lg-6 offset-lg-0 col-sm-10 offset-sm-1 plan-plus">
            <p class="badge-plus-offer">VALOR DE LANÇAMENTO</p>
            <h5 class="text-center">Keepo <b>Plus</b></h5>
            <h2 class="text-center">R$15,90</h2>
            <p class="text-center">por mês no plano Mensal</p>
            <p class="text-center">
              <a
                href="https://editor.keepo.io/#/?action=plus&plan=MONTHLY"
                class="btn btn-create-plus-account"
                >Assine PLUS</a
              >
            </p>
            <ul>
              <li>Customização de cores e alinhamento</li>
              <li>Seção Boas-vindas com CTA</li>
              <li>Seção Apresentação com imagem e textos</li>
              <li>Seção Catálogo com ítens ilimitados</li>
              <li>Seçõa Links com miniatura e emoji</li>
              <li>Seção Ícones com +10 redes sociais</li>
              <li>
                Seção Formulário integrado com Email, Mailchimp e Google Sheets
              </li>
              <li>Facebook Pixel, Google Analytics e Tag Maneger</li>
              <li>Múltiplas seções</li>
              <li>Dados sobre acessos, visualizações e cliques</li>
              <li>Vídeos do Youtube, Vimeo e Twitch</li>
              <li>Áudios do Spotify, Apple Music e Deezer</li>
              <li>Imagens avulsas</li>
              <li>Suporte Exclusivo</li>
            </ul>
          </div>
          <div class="col-lg-6 offset-lg-0 col-sm-10 offset-sm-1 plan-free">
            <h5 class="text-center">Keepo <b>Grátis</b></h5>
            <h2 class="text-center">R$0</h2>
            <p class="text-center">pra sempre</p>
            <p class="text-center">
              <a
                href="https://editor.keepo.io/#/?action=start"
                class="btn btn-create-free-account"
                >Crie grátis</a
              >
            </p>
            <ul>
              <li>10 combinações de cores para escolher</li>
              <li>Seção Boas-vindas com CTA</li>
              <li>Seção Apresentação com imagem e textos</li>
              <li>Seção Catálogo com ítens ilimitados</li>
              <li>Seçõa Links com miniatura e emoji</li>
              <li>Seção Ícones com +10 redes sociais</li>
            </ul>
          </div>
        </div>
        <div class="row payment-method">
          <div class="col-lg-6 offset-lg-6 col-12">
            <p class="text-center">
              Pagamento seguro via
              <img src="/assets/img/stripe.png" width="48px" alt />
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-made" class="container">
      <div class="row">
        <h5 class="col-12">
          <span>Feito para</span> criativos, artistas, <br />comunicadores,
          influenciadores, <br />freelancers, empreendedores,
          <br />transformadores,
          <span>você!</span>
        </h5>
      </div>
    </section>

    <section class="horizontal-scroller">
      <p class="user-profile" onclick="open_link('https://keepo.io/402apto/')">
        <img src="/assets/img/402-destaque.png" alt />402apto
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/andrebuarque/')"
      >
        <img src="/assets/img/andre-destaque.png" alt />André Buarque
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/gabrielsilva/')"
      >
        <img src="/assets/img/gabriel-destaque.png" alt />Gabriel Silva
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/cookiestories/')"
      >
        <img src="/assets/img/cokie-destaque.png" alt />Cookie Stories
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/andreyknabbenn/')"
      >
        <img src="/assets/img/andrey-destaque.png" alt />Andrey Knabben
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/omarcosalmeida/')"
      >
        <img src="/assets/img/marcos-destaque.png" alt />Marcos Almeida
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/murilloleal/')"
      >
        <img src="/assets/img/murillo-destaque.png" alt />Murillo Leal
      </p>
      <p class="user-profile" onclick="open_link('https://keepo.io/nosemum/')">
        <img src="/assets/img/nosemum-destaque.png" alt />Nós em Um
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/raissabulhoes/')"
      >
        <img src="/assets/img/raissa-destaque.png" alt />Raíssa Bulhões
      </p>
      <p
        class="user-profile"
        onclick="open_link('https://keepo.io/zedoradiohome/')"
      >
        <img src="/assets/img/ze-destaque.png" alt />Zé do Rádio Home
      </p>
    </section>

    <section id="comments" class="container">
      <div class="row">
        <h4 class="col-12">Veja quem já tem um minisite do Keepo</h4>
        <div class="comment col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
          <p>
            "Diferente de tudo que vi até agora relacionado a links no perfil!"
          </p>
          <p>
            <img src="/assets/img/starts.png" alt />
          </p>
          <p class="comment-author">
            <b>Filipe Siqueira</b>
          </p>
        </div>
        <div class="comment col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
          <p>
            "O Keepo caiu como uma “mão na roda” e dispensou a minha necessidade
            de criar um site."
          </p>
          <p>
            <img src="/assets/img/starts.png" alt />
          </p>
          <p class="comment-author">
            <b>Andrey Knabbenn</b>
          </p>
        </div>
        <div class="comment col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
          <p>
            "Vocês impactam de uma forma muito legal as pessoas e seus
            negócios."
          </p>
          <p>
            <img src="/assets/img/starts.png" alt />
          </p>
          <p class="comment-author">
            <b>Gustavo Virgilio</b>
          </p>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="container">
        <div class="row">
          <p class="col-xl-2 col-lg-3 col-md-1 col-12 footer-logo">
            <picture>
              <source
                srcset="/assets/img/logo_keepo_footer_xs.svg"
                media="(max-width: 767px)"
              />
              <source
                srcset="/assets/img/logo_keepo_footer_md.svg"
                media="(max-width: 991px)"
              />
              <img src="/assets/img/logo_keepo_footer.svg" alt="Flowers" />
            </picture>
          </p>
          <p
            class="
              col-xl-2 col-lg-3 col-md-3 col-12
              d-none d-md-block
              footer-slogan
            "
          >
            Minisite do seu tipo.
          </p>
          <ul
            class="
              footer-nav
              col-xl-2
              offset-xxl-4 offset-xl-3
              col-lg-3
              offset-lg-0
              col-md-3
              offset-md-1
              col-12
            "
          >
            <li>
              <a href="" data-bs-toggle="modal" data-bs-target="#faleConosco"
                >Fale Conosco</a
              >
            </li>
            <li>
              <a href="https://editor.keepo.io/#/legal">Termos e Privacidade</a>
            </li>
            <!-- <li><a href="https://blog.keepo.io" target="_blank">Blog</a></li> -->
          </ul>
          <p class="col-xxl-2 col-lg-3 col-md-4 col-12 footer-social">
            <a href="https://www.linkedin.com/company/keepo-io/"
              ><img src="/assets/img/linkedin.svg" alt
            /></a>
            <a href="https://www.instagram.com/keepo.io/" target="_blank"
              ><img src="/assets/img/instagram.svg" alt
            /></a>
            <a href="https://www.facebook.com/keepo.io" target="_blank"
              ><img src="/assets/img/facebook.svg" alt
            /></a>
          </p>
        </div>
      </div>
    </footer>

    <div class="modal fade" id="faleConosco" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p id="faleConosco-btnclose" class="text-end">
              <button type="button" data-bs-dismiss="modal" aria-label="Close">
                <img src="/assets/img/close.png" />
              </button>
            </p>
            <h1>Fale com<br />a gente!</h1>
            <p id="faleConosco-text">
              Preencha os campos abaixo. Nossa <br />equipe terá o maior prazer
              em <br />conversar com você.
            </p>
            <form action>
              <p>
                <label for>Qual o seu nome?</label>
                <input type="text" name="name" />
              </p>
              <p>
                <label for>Seu melhor e-mail</label>
                <input type="text" name="name" placeholder="email@gmail.com" />
              </p>
              <p>
                <label for>Mensagem</label>
                <input
                  type="text"
                  name="name"
                  placeholder="Deixe sua mensagem"
                />
              </p>
              <p>
                <input type="submit" value="Enviar mensagems" />
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%-include('partials/aviso.ejs')%> <%- include ("./partials/footer") -%>
  </body>
</html>
